table{
	border-collapse: collapse;
	table-layout: fixed;
	width: 100%;
	white-space: nowrap;
}

.row1{
	width: 15%;
	height: 20px;
	padding: 4px;
	border: 1px gray solid;
	text-align: center;
	font-style: bold;
}

td{
	height: 20px;
	padding: 4px;
	border: 1px gray solid;
	text-align: left;
}

.A{
	background-color: black;
	color: white;
}

.B{
	background-color: white;
	color: black;
}